<div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="validationForm" (ngSubmit)="onEditTask()">
        {{data|json}}
        <div class="row mb-4">
            <div class="col-md-6">
                <mdb-form-control>
                    <input mdbValidate mdbInput type="text" class="form-control" formControlName="title" required [(ngModel)]="data.title" />
                    <label mdbLabel class="form-label">Titulo Tarea</label>
                    <mdb-error *ngIf="title?.invalid && (title?.dirty || title?.touched)">title is required</mdb-error>
                    <mdb-success *ngIf="title?.valid && (title?.dirty || title?.touched)">Looks good!</mdb-success>
                </mdb-form-control>
            </div>
            <div class="col-md-6">
                <mdb-form-control>
                    <input mdbValidate mdbInput type="text" class="form-control" formControlName="description" required [(ngModel)]="data.description" />
                    <label mdbLabel class="form-label">Descripcion Tarea</label>
                    <mdb-error *ngIf="description?.invalid && (description?.dirty || description?.touched)">First name is required</mdb-error>
                    <mdb-success *ngIf="description?.valid && (description?.dirty || description?.touched)">Looks good!</mdb-success>
                </mdb-form-control>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6">
                <mdb-form-control>
                    <select name="select" mdbValidate mdbInput [(ngModel)]="data.state" class="form-control select-input" formControlName="state" required>
                      <option [value]="data.state">{{data.state}}</option>
                      <option *ngFor="let item of states" [value]="item.value">{{item.name}}</option>
                  </select>
                    <label mdbLabel class="form-label" for="form1">Estado</label>
                    <mdb-error *ngIf="state?.invalid && (state?.dirty || state?.touched)">state required</mdb-error>
                    <mdb-success *ngIf="state?.valid && (state?.dirty || state?.touched)">Looks good!</mdb-success>
                </mdb-form-control>
            </div>
            <div class="col-md-6">
                <mdb-form-control>
                    <select name="select" mdbValidate mdbInput [(ngModel)]="data.priority" class="form-control select-input" formControlName="priority" required>
                      <option [value]="data.priority">{{data.priority}}</option>
                      <option *ngFor="let item of prioritys" [value]="item.value">{{item.name}}</option>
                  </select>
                    <label mdbLabel class="form-label select-label" for="form1">Prioridad</label>
                    <mdb-error *ngIf="priority?.invalid && (priority?.dirty || priority?.touched)">priority is required</mdb-error>
                    <mdb-success *ngIf="priority?.valid && (priority?.dirty || priority?.touched)">Looks good!</mdb-success>
                </mdb-form-control>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mdb-form-control>
                    <input mdbValidate mdbInput type="text" [(ngModel)]="data.incharge" class="form-control" formControlName="incharge" required />
                    <label mdbLabel class="form-label" for="form2">Ecargado</label>
                    <mdb-error *ngIf="incharge?.invalid && (incharge?.dirty || incharge?.touched)">Ecargado is required</mdb-error>
                    <mdb-success *ngIf="incharge?.valid && (incharge?.dirty || incharge?.touched)">Looks good!</mdb-success>
                </mdb-form-control>
            </div>
            <div class="col-md-6">
                <mdb-form-control>
                    <tag-input [formControlName]="'tags'" name="items" class="form-control" [(ngModel)]="data.tags">
                    </tag-input>
                    <mdb-error *ngIf="tags?.invalid && (tags?.dirty || tags?.touched)">tags is required</mdb-error>
                    <mdb-success *ngIf="tags?.valid && (tags?.dirty || tags?.touched)">Looks good!</mdb-success>
                </mdb-form-control>
            </div>
        </div>
        <button type="submit" [disabled]="!validationForm.valid" class="btn btn-primary mt-3">Agregar tarea</button>
    </form>
</div>